* {
  box-sizing: border-box;
}

body {
  background-color: #d1a154;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.container {
  position: fixed;
  z-index: 2;
  display: flex;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 20%);
  margin: 0;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.container #exit {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  background-color: transparent;
  border: none;
  color: white;
}

.container #exit:hover {
  color: rgb(220, 220, 220);
}

.show {
  visibility: visible;
}

#form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

#title {
  margin-bottom: 5px;
  color: #301e02;
  margin-top: 5px;
}

#addBook {
  width: 120px;
  height: 50px;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  background-color: #d1a154;
  color: #301e02;
}

#addBook:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#books {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, min(content, 1fr));
  grid-gap: 10px;
  width: 100%;
}

.book {
  border: 2px solid #301e02;
  border-radius: 10px;
  padding: 10px;
  background-color: #caa15e;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: auto 1fr;
  color: #301e02;
}

.book h1 {
  margin: 0;
}

.book h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.book p, .book h1 {
  margin: 0;
}

.book .exit {
  color: rgb(0, 0, 0);
  border: none;
  background-color: transparent;
  font-size: 20px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.book .exit:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.book .main-content {
  grid-column-start: 1;
  grid-column-end: -1;
} 